html {
  font-family: 'Comfortaa', cursive;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}